body {
    padding: 20px;
    background: #FABEC0;
}

h1{
    text-align: center;
    font-size: 70px;
    font-style: italic;
}
#listContainer {
    width: 350px;
    margin: 0 auto;
}

select {
    width: 50%!important;
    margin: 20px auto 35px auto;
}

.film {
    color: white;
    background-color: #F85C70;
    margin: 15px;
    padding: 10px;
    border-radius: 35% 0;
    text-align: center;
    font-weight: bold;
}

#lastMovie {
    color: #F37970;
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
    text-align: center
}

#lastMovieData {
    font-size: 35px;
    padding-left: 20px;
    color: #E43D40;
}